{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Concert+One&family=Pacifico&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <title>Recipes List</title>
    </head>



    
    <body class="elongated-view">
                <!-- ADD NEW RECIPE MODAL -->
<!-- ADD NEW RECIPE MODAL -->
<div class="modal fade" id="addRecipeModal" tabindex="-1" role="dialog" aria-labelledby="addRecipeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addRecipeModalLabel">Add a New Recipe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- NEW RECIPE FORM -->
            <div class="modal-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group"> 
                        <label for="recipe-name">Recipe Name</label> 
                        <input type="text" class="form-control" id="recipe-name" name="recipe_name" required> 
                    </div>
                    <div class="form-group"> <label for="ingredients">Ingredients</label>
                        <input type="text" class="form-control" id="ingredients" name="ingredients" required>
                    </div> 
                    <div class="form-group"> 
                        <label for="cooking-time">Cooking Time (minutes)</label> 
                        <input type="number" class="form-control" id="cooking-time" name="cooking_time" required> 
                    </div> 
                    <div class="form-group"> 
                        <label for="description">Description</label> 
                        <textarea class="form-control" id="description" name="description" rows="3" required></textarea> 
                    </div>
                    <div class="form-group">
                        <label for="pic">Recipe Image</label>
                        <input type="file" class="form-control" id="pic" name="pic">
                    </div>
                    
                    <button type="submit">Add Recipe</button>
                </form>
            </div>
        </div>
    </div>
            <!-- NOTIFY USER SUCCESS-->
            {% if messages %}
            {% for message in messages %}
                {% if request.path == '/' %}
                <div class="alert alert-success">{{ message }}</div>
                {% endif %}
            {% endfor %}
            {% endif %}
</div>

        <!-- Navbar -->
        <div class="navbar">
            <div class="logo">RecipMe</div>
            <div class="toggle-button" onclick="toggleMenu()">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="menu">
                <!-- Add Recipe Link -->
                <a href="#" id="addRecipeLink" data-toggle="modal" data-target="#addRecipeModal">Add Recipe</a>
                <div style="border-left: 2px solid rgba(245, 245, 220, 0.578); height: auto; margin: 0 10px;"></div>
                <a href="{% url 'recipes:list' %}">Menu</a>
                <a href="{% url 'recipes:data' %}">Collection Data</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>

        <!-- MAIN CONTENT -->
        <main>
            <div class="list-flex-container">
                <div class="welcome-container">
                    <div class="recipe-container">
                        <h2 class="main-header text-center">Full List of Recipes</h2>

                        <!-- SEARCH CONTENT -->
                        <p class="search-text">Filter by ingredient or recipe name:</p>
                        <form class="search-form" action="{% url 'recipes:list' %}" method="GET">
                            {% csrf_token %}
                            {{ form.recipe_name }}
                            <br/>
                            <button class="search-button" type="submit">Click to Search</button>
                            <!-- 'Show all' button: Reset the form and return to the list page -->
                             <a href="{% url 'recipes:list' %}">
                            <button class="search-button" type="button">Show all</button>
                            </a>
                        </form>

                        {% if form.is_bound and form.cleaned_data.recipe_name %}
                            <p>You searched for: {{ form.cleaned_data.recipe_name }}</p>
                        {% endif %}

                        {% if object_list %}

                            <!-- RECIPE CONTENT -->
                            <div class="recipe-list-container container mt-4">
                                <div class="row custom-grid">
                                    {% for object in object_list %}
                                        <div class="recipe-card mb-4">
                                            <a href="{{ object.get_absolute_url }}" class="recipe-wrapper">
                                                <div class="detail-container">
                                                    <img src="{{ object.pic.url }}" class="recipe-image img-fluid" alt="{{ object.name }}" />
                                                    <div class="recipe-main-holder">
                                                        <p class="recipe-link">{{ object.name }}</p>

                                                        <!-- DESCRIPTION CONTENT -->
                                                        <div class="description-container">
                                                            <span class="description-field">{{ object.name }}</span>
                                                            <p class="desc-text">{{ object.description }}</p>
                                                            <br/>
                                                            <p class="desc-link">Click to view recipe</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <p class="no-rcp">No recipes found for your search criteria.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </main>

          <!-- Bootstrap JavaScript libraries -->
          <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        </body>
    </html>